body {
  vertical-align: center;
  text-align: center;
}

.BigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.ArrowAndImgBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sliderContent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  width: 200px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  background: #60b99a;
  overflow: auto;
  position: relative;
}

#sliderContent > div {
  height: 230px;
  width: 300px;
  margin-right: 20px;
}

/*------------버튼------------------*/

.ArrowAndImgBox > button {
  border: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
  opacity: 0.2;
  outline: none;
}

.ArrowAndImgBox > button:hover {
  opacity: 0.6;
}

.ArrowAndImgBox > button:active {
  opacity: 1;
}

button#leftButton {
  background: url('./assets/leftArrow.png') no-repeat;
  background-size: 2em;
}
button#rightButton {
  background: url('./assets/rightArrow.png') no-repeat;
  background-size: 2em;
}

/*------------래디오 버튼------------------*/

.tapButton {
  display: flex;
  justify-content: center;
}

input[type='radio'],
input[type='radio']:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin-right: 0.1em;
  outline: none;
}

input[type='radio'] {
  background-color: white;
  border: 2px solid;
  opacity: 0.5;
}
input[type='radio']:hover {
  opacity: 1;
}
input[type='radio']:checked {
  background-color: black;
  opacity: 1;
}
