body {
  display: flex;
  flex-direction: column;

  overflow-y: hidden;
}

h1 {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  padding: 3% 0 3% 0;
  font-size: 5em;
  background-color: #262a30;
  color: #bbbcbe;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-container-top {
  display: flex;
  justify-content: space-between;
  background-color: #4d6380;
  width: 100%;
  height: 3em;
  overflow-x: scroll;
}

.main-container-top-left {
  background-color: #262a30;
  display: flex;
  flex-direction: row;
  color: #c7cbd4;
  justify-content: center;
  align-items: center;
  margin: 0.6em 0 0 2em;
  width: auto;
  height: 1.7em;
  padding: 0 1em 0 1em;
  border: 1px solid #445770;
  border-radius: 0.4em;
  background-color: #445770;
  white-space: nowrap;
}

.main-container-top-left > p {
  font-size: 1em;
  color: #c7cbd4;
  margin-left: 1em;
}

.main-container-top-right {
  color: #9e9fa1;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 3% 0 0;
}

.find-img {
  width: 27px;
  height: 27px;

  margin: 0;
  padding: -3px 0 -3px 0;
  background-color: #393d41;
  border: 1px solid #2e3136;
  border-radius: 0.4em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: #393d41;
  outline: none;
}

.main-container-top-right > input:focus {
  outline: 0;
  box-shadow: none;
}

.main-container-top-right > input {
  width: 260px;
  height: 23px;

  border: 1px solid #2e3136;
  border-radius: 0.4em;
  background-color: #393d41;
  padding: 2px 0 2px 3px;
  color: #ffffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: #393d41;
}

.main-container-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.add-card-container {
  display: flex;
  flex: 0 0 300px;
  height: 6em;
  margin: 20px 0 0 15px;
  border: 2px dotted #a5abb1;
  border-radius: 0.4em;
  color: #a5abb1;
  justify-content: center;
  align-items: center;
}

.card-box-header {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  background-color: #f8fafc;
  border-bottom: 1px solid #e6e8eb;
}

.card-box-header > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10px 0 20px;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.9em;
  border-radius: 50%;
  background-color: #e4e7ea;
  color: #737b83;
}

.card-box-header > strong {
  margin: 9px 0 0 0;
  font-size: 0.9em;
  padding: 10px 0 8px 3px;
  width: 226px;
  height: 1.2em;
  word-wrap: break-word;
  white-space: wrap;
  word-break: keep-all;
  overflow: hidden;
}
.container-name-modify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-name-modify > p {
  padding: 13px 0 0 5px;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.08em;
}

.container-name-modify > input {
  margin: 12px 0 0 10px;
  font-size: 1em;
  width: 220px;
  height: 21px;
  padding: 5px;
  border: 2px solid #bbbcbe;
  border-right: none;
  border-radius: 0.4em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #cbd7e6;
}
.container-name-modify > input:focus {
  outline: none;
}
.container-name-modify > button {
  background-color: #ffffff;
  border: 2px solid #bbbcbe;
  border-left: none;
  outline: none;
  height: 35px;
  margin-top: 12px;
  padding-right: 10px;
  font-size: 0.85em;
  color: #77797a;
  background-color: #cbd7e6;
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.container-name-modify > button:hover {
  font-size: 0.95em;
  font-weight: 700;
  color: #5f5fd8;
}

.container-name-modify > button:active {
  font-size: 0.95em;
  font-weight: 600;
  color: #2f2fe0;
}

.plus-img {
  margin: 12px 15px 0 0;
  font-size: 1.5em;
  font-weight: 300;
}

.plus-img:hover {
  cursor: pointer;
  color: #376fd2;
}

[class^='more-img'] {
  margin: 5px 5px 0 0;
  font-size: 1.5em;
}

[class^='more-img']:hover {
  cursor: pointer;
  color: #376fd2;
}
.no-event {
  pointer-events: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  flex: 0 0 345px;
  height: 45em;
  flex-direction: column;
  background-color: #f6f8fa;
  border: 1px solid #e6e8eb;
  margin: 1% 10px 5% 10px;
  border-radius: 3%;
}

.card-box {
  pointer-events: all;
}

.card {
  position: relative;
  float: none;

  background-color: #ffffff;
  width: 320px;
  word-wrap: break-word;
  white-space: wrap;
  word-break: keep-all;
  white-space: normal;
  border: 1px solid #e6e8eb;
  border-radius: 0.4em;
  font-size: 0.9em;
  cursor: move;
}

.card > div {
  position: relative;
  float: none;

  margin: 0.3em 1em 1em 2.75em;
  line-height: 180%;
  font-size: 0.95em;
  white-space: wrap;
}

.card > div::selection {
  background-color: #ffffff;
}

.card-header > img {
  margin: 7px 5px 0 5px;

  height: 1.6em;
}

.card-header {
  position: relative;
  float: none;
  z-index: 0;
  height: 2em;
  overflow: hidden;
  display: flex;
}

.card-header > strong {
  margin: 9px 0 0 0;
  width: 260px;
  font-weight: 600;
  font-size: 0.95em;
  line-height: 180%;
  height: 1.6em;
  overflow: hidden;
  word-wrap: break-word;
  white-space: wrap;
  word-break: keep-all;
  white-space: normal;
  white-space: nowrap;
}
.card-header > div {
  margin-right: -6px;
  margin-top: -1px;
  overflow: hidden;
}

.card-footer {
  position: relative;
  float: none;
  z-index: 0;
  height: 2em;
  overflow: hidden;
  display: flex;
}

.card-footer-text {
  margin: 0 0 0 35px;
  display: flex;
  width: 260px;
  font-weight: 600;
  font-size: 0.95em;
  line-height: 180%;
  height: 1.6em;
  overflow: auto;

  white-space: nowrap;
}

.card-footer-text > p {
  margin-right: 0.3em;
  line-height: 180%;
}

.add-card-container:hover {
  border: 2px dotted #25292e;
  color: #25292e;
  cursor: pointer;
  text-decoration: underline;
}
.add-card-container > strong::selection {
  background-color: #ffffff;
}

.add {
  color: #737b83;
}

.helper {
  color: #ffffff;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: #77797a;
  opacity: 0.5;
}

.modalBox {
  position: absolute;
  background-color: #fff;
  margin-top: 15%;
  border-radius: 0.7em;
  width: 500px;
  height: 200px;
  border: 1px solid #a9acad;
  box-shadow: 1px 1px 5px #8c8e8f;
}

.modal-top {
  display: flex;
  background-color: #ecf0f3;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  border-bottom: 1px solid #e2e4e8;
  padding: 16px;
  font-weight: 700;
}

.modal-close {
  margin: 0 0 0 65%;
  font-weight: 400;
}

.modal-close:hover {
  color: #9e9fa1;
  cursor: pointer;
}

.modal-botton {
  padding: 15px;
  width: 100%;
  height: 100%;
}

.modal-botton > p {
  margin-top: 7px;
}

.new-container-name {
  width: 89%;
  height: 10%;
  border-radius: 0.4em;
  margin: 8px 0 8px 0;
  border: 1px solid #a5abb1;
  padding: 5px;
  padding-left: 15px;
  font-size: 1em;
}

.new-container-name:focus {
  border: 1px solid #2a66cf;
  box-shadow: 0 0 1px 3px #bfd0f0;
}

[class^='confirm-button'] {
  margin-top: 15px;
  width: 8em;
  height: 2.5em;
  background-color: #a2d1a6;
  border-radius: 0.4em;
  border: 1px solid #93c398;
  color: #eef7ef;
}

[class^='confirm-button']:hover {
  background-color: #6ab870;
  border: 1px solid #78bb7f;
  outline: none;
}

[class^='confirm-button']:focus {
  outline: none;
}
[class^='confirm-button']:active {
  background-color: #48854d;
  border: 1px solid #56a05d;
}

.card-box {
  position: relative;
}

.edit-modal-box {
  position: absolute;
  margin: 5px 0 0 140px;
  background-color: #7f8288;
  border-radius: 0.7em;
  width: 200px;
  height: 100px;
  box-shadow: 1px 1px 2px #acc8eb;
  color: #ffffff;
  z-index: 10;
  float: right;
}

.edit-modal-box > .top {
  display: flex;
  align-items: center;
  height: 50%;
  padding-left: 10%;
  border-radius: 0.7em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #e6e8eb;
}

.edit-modal-box > .delete-container {
  display: flex;
  align-items: center;
  height: 50%;
  border-radius: 0.7em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 10%;
}

.edit-modal-box:after {
  border-top: 0px solid #f6f8fa;
  border-left: 7px solid #f6f8fa;
  border-right: 7px solid #f6f8fa;
  border-bottom: 10px solid #7f8288;
  content: '';
  position: absolute;
  top: -10px;
  left: 164px;
}

.edit-modal-box > .top:hover {
  background-color: royalblue;
  cursor: pointer;
}

.edit-modal-box > .delete-container:hover {
  background-color: royalblue;
  cursor: pointer;
}

.add-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 0 15px;
  background-color: #ffffff;
  width: 320px;
  border: 1px solid #e6e8eb;
  border-radius: 0.4em;
}

.add-card-box > .input-card {
  margin: 0 0 0 10px;
}

.add-card-box > .input-card > .new-card-header {
  width: 89%;
  height: 10%;
  border-radius: 0.4em;
  margin: 8px 0 8px 0;
  border: 1px solid #a5abb1;
  padding: 5px;
  padding-left: 15px;
  font-size: 1em;
}
.add-card-box > .input-card > .new-card-header:focus {
  border: 1px solid #2a66cf;
  box-shadow: 0 0 1px 3px #bfd0f0;
}

.add-card-box > .input-card > .new-card-body {
  width: 89%;
  height: 50px;
  border-radius: 0.4em;
  margin: 8px 0 8px 0;
  border: 1px solid #a5abb1;
  padding: 5px;
  padding-left: 15px;
  margin: 0;
  resize: vertical;
  font-size: 1.1em;
}

.add-card-box > .input-card > .new-card-body::placeholder {
  font-size: 1em;
}

.add-card-box > .input-card > .new-card-body:focus {
  border: 1px solid #2a66cf;
  box-shadow: 0 0 1px 3px #bfd0f0;
}

.add-card-box > .confirm-card > [class^='confirm-button'] {
  margin: 7px 0 7px 0;
  width: 11em;
  height: 2.5em;
  font-weight: 700;
}

.add-card-box > .confirm-card > .confirm-button-cancle {
  background-color: #f6f8fa;
  border: 1px solid #9e9fa1;
  color: #25292e;
}

.add-card-box > .confirm-card > .confirm-button-cancle:hover {
  background-color: #cad4dd;
}

.add-card-box > .confirm-card > .confirm-button-cancle:active {
  background-color: #acb5bd;
}

.edit-modal-box-card {
  position: absolute;
  margin: 5px 0 0 143px;
  background-color: #7f8288;
  border-radius: 0.5em;
  width: 180px;
  height: 80px;
  box-shadow: 1px 1px 2px #acc8eb;
  color: #ffffff;
  z-index: 10;
}

.edit-modal-box-card > .top {
  display: flex;
  align-items: center;
  height: 50%;
  padding-left: 10%;
  border-radius: 0.7em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #e6e8eb;
}

.edit-modal-box-card > .delete-card {
  display: flex;
  align-items: center;
  height: 50%;
  border-radius: 0.7em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 10%;
}

.edit-modal-box-card:after {
  border-top: 0px solid #ffffff;
  border-left: 7px solid #ffffff;
  border-right: 7px solid #ffffff;
  border-bottom: 10px solid #7f8288;
  content: '';
  position: absolute;
  top: -10px;
  left: 155px;
}

.edit-modal-box-card > .top:hover {
  background-color: royalblue;
  cursor: pointer;
}

.edit-modal-box-card > .delete-card:hover {
  background-color: royalblue;
  cursor: pointer;
}

.edit-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 0 15px;
  background-color: #ffffff;
  width: 320px;
  border: 1px solid #e6e8eb;
  border-radius: 0.4em;
}

.edit-card-box > .input-edit-card {
  margin: 0 0 0 10px;
}

.edit-card-box > .input-edit-card > .edit-card-header {
  width: 89%;
  height: 10%;
  border-radius: 0.4em;
  margin: 8px 0 8px 0;
  border: 1px solid #a5abb1;
  padding: 5px;
  padding-left: 15px;
  font-size: 1em;
}
.edit-card-box > .input-edit-card > .edit-card-header:focus {
  border: 1px solid #2a66cf;
  box-shadow: 0 0 1px 3px #bfd0f0;
}

.edit-card-box > .input-edit-card > .edit-card-body {
  width: 89%;
  height: 50px;
  border-radius: 0.4em;
  margin: 8px 0 8px 0;
  border: 1px solid #a5abb1;
  padding: 5px;
  padding-left: 15px;
  margin: 0;
  resize: vertical;
  font-size: 1.1em;
}

.edit-card-box > .input-edit-card > .edit-card-body::placeholder {
  font-size: 1em;
}

.edit-card-box > .input-edit-card > .edit-card-body:focus {
  border: 1px solid #2a66cf;
  box-shadow: 0 0 1px 3px #bfd0f0;
}

.edit-card-box > .confirm-card > [class^='confirm-button'] {
  margin: 7px 0 7px 0;
  width: 11em;
  height: 2.5em;
  font-weight: 700;
}

.edit-card-box > .confirm-card > .confirm-button-cancle-edit {
  background-color: #f6f8fa;
  border: 1px solid #9e9fa1;
  color: #25292e;
}

.edit-card-box > .confirm-card > .confirm-button-cancle-edit:hover {
  background-color: #cad4dd;
}

.edit-card-box > .confirm-card > .confirm-button-cancle-edit:active {
  background-color: #acb5bd;
}

.card-total-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.5em;
  height: 100%;
  padding-top: 20px;
}
.card-helper-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: move;
}
.card-helper-top {
  width: 100%;
  height: 50%;
}

.card-helper-bottom {
  width: 100%;
  height: 50%;
}

.container-helper-box {
  position: absolute;
  display: flex;
  width: 400px;
  height: 36em;
  flex-direction: row;
  margin: 0 0 0 0;
  z-index: 2;
  padding: 0;
  cursor: move;
}
.container-helper-left {
  width: 50%;
  height: 100%;
}

.container-helper-right {
  width: 50%;
  height: 100%;
}

@keyframes down {
  from {
    top: 0;
  }
  to {
    top: 100px;
  }
}

@keyframes shake {
  0% {
    transform: rotate3d(0.5, 0.5, 0.5, 0);
    transform: scale(1.005);
  }
  12% {
    transform: rotate3d(0.7, 0.5, 0.5, 1deg);
  }
  25% {
    transform: rotate3d(0.5, 0.5, 0.5, 2deg);
  }
  38% {
    transform: rotate3d(0.7, 0.5, 0.5, 1deg);
  }
  50% {
    transform: rotate3d(0.5, 0.5, 0.5, 0);
    transform: scale(1.005);
  }
  63% {
    transform: rotate3d(0.7, 0.5, 0.5, -1deg);
  }
  75% {
    transform: rotate3d(0.5, 0.5, 0.5, -2deg);
  }
  88% {
    transform: rotate3d(0.7, 0.5, 0.5, -1deg);
  }
  100% {
    transform: rotate3d(0.5, 0.5, 0.5, 0);
    transform: scale(1.005);
  }
}

@keyframes shake-reverse {
  0% {
    transform: rotate3d(0.5, 0.5, 0.5, 0);
    transform: scale(1.005);
  }
  12% {
    transform: rotate3d(0.7, 0.5, 0.5, -1deg);
  }
  25% {
    transform: rotate3d(0.5, 0.5, 0.5, -2deg);
  }
  38% {
    transform: rotate3d(0.7, 0.5, 0.5, -1deg);
  }
  50% {
    transform: rotate3d(0.5, 0.5, 0.5, 0);
    transform: scale(1.005);
  }
  63% {
    transform: rotate3d(0.7, 0.5, 0.5, 1deg);
  }
  75% {
    transform: rotate3d(0.5, 0.5, 0.5, 2deg);
  }
  88% {
    transform: rotate3d(0.7, 0.5, 0.5, 1deg);
  }
  100% {
    transform: rotate3d(0.5, 0.5, 0.5, 0);
    transform: scale(1.005);
  }
}

@keyframes vibe {
  0% {
    left: 0;
  }
  50% {
    left: 1px;
  }
  100% {
    left: 0;
  }
}

@keyframes big {
  from {
    height: 0;
  }
  to {
    height: 25px;
  }
}

@keyframes left {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
}

.trans-down {
  transition: all 150ms ease 0s;
  transform: translate3d(0, 98px, 0);
}

.trans-up {
  transition: all 150ms ease 0s;
  transform: translate3d(0, -98px, 0);
}

.trans-right {
  transition: all 150ms ease 0s;
  transform: translate3d(365px, 0, 0);
}

.trans-left {
  transition: all 150ms ease 0s;
  transform: translate3d(-365px, 0, 0);
}

.down {
  animation-name: down;
  animation-duration: 0.3s;
  animation-iteration-count: initial;
  animation-delay: 0s;
  pointer-events: none;
  animation-timing-function: linear;
}

.shake {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.shake-reverse {
  animation-name: shake-reverse;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.shake-reverse > section {
  opacity: 40%;
}

.shake-reverse > div {
  opacity: 40%;
}

.shake-reverse > .remove-box {
  opacity: 100%;
}

.shake > section {
  opacity: 40%;
}

.shake > div {
  opacity: 40%;
}

.shake > .remove-box {
  opacity: 100%;
}

.bigger-top {
  animation-timing-function: linear;
  animation-name: big;
  animation-duration: 0.05s;
  animation-delay: 0s;
  cursor: move;
}

.bigger-bottom {
  animation-timing-function: linear;
  animation-name: big;
  animation-duration: 0.05s;
  animation-delay: 0s;
  cursor: move;
}

.bigger {
  animation-timing-function: linear;
  animation-name: a;
  animation-duration: 0.03s;
  animation-delay: 0s;
  cursor: move;
  animation-fill-mode: none;
}

.remove-card {
  opacity: 100%;
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 2;
  margin: 0 0 0 0;

  border-radius: 50%;
}

.remove-card:hover {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.menu-box {
  margin-left: 0;
  margin-right: 7%;
  padding-top: 0.2%;
  display: flex;
  align-items: center;
}

.menu-box > .menu {
  font-size: 1.3em;
  font-weight: 700;
}

.menu-img {
  position: relative;
  opacity: 70%;
  width: 2em;
  height: 2em;
}

.menu-img:hover {
  opacity: 100%;
  cursor: pointer;
}

.user-img {
  margin: 0 0.5em 0 3em;
  width: 2em;
  height: 2em;
}
.menu-box > strong {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

.menu-modal {
  position: absolute;
  margin: 5% 0 0 86%;
  background-color: #61666e;
  border-radius: 0.7em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 3px solid #566475;
  width: 13.6%;
  height: 80%;
  box-shadow: 0 0 2px 2px #566475;
  color: #ffffff;
  z-index: 5;
  float: right;

  animation-name: left;
  animation-duration: 0.8s;
  animation-iteration-count: initial;
  animation-delay: 0s;
  animation-timing-function: ease-out;
}

.menu-modal > .top {
  display: flex;
  align-items: center;
  height: 10%;
  padding-left: 10%;
  border-radius: 0.7em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #e6e8eb;
  cursor: pointer;
}

.menu-modal > .delete-container {
  display: flex;
  align-items: center;
  height: 10%;
  padding-left: 10%;
}

.menu-modal > .top:hover {
  background-color: royalblue;
  cursor: pointer;
}

.menu-modal > .delete-container:hover {
  background-color: royalblue;
  cursor: pointer;
}

.remove-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 198, 198) ff;
  width: 9%;
  height: 100%;
  margin: -9.4% 0 0 91%;
  border: 1px solid #e6e8eb;
  border-radius: 0.4em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  z-index: 1;
}

.remove-box:hover {
  background-color: #fdbaba;
  cursor: auto;
}

.hidden {
  display: none;
  pointer-events: none;
}

.no-event {
  pointer-events: none;
}

.activer {
  opacity: 40%;
  border: 2px solid rgb(113, 152, 211);
  box-shadow: 0.7px 0.7px 3px #bdc7d3;
  border-radius: 0.5em;
  cursor: move;
}

.dragging {
  border: 2px solid #050607;
  cursor: move;
}

.hover {
  cursor: move;
  border: 1px solid #d4d9df;
  box-shadow: 0.7px 0.7px 3px #dbdfe4;
}

.virtual {
  opacity: 40%;
  border: 1px solid #becfe2;
  box-shadow: 0.7px 0.7px 3px #bdc7d3;
}
